*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bolder;
}
html{
  font-size: 62%;
}
body{
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
  background: black;
}

#logo{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
#logo a{
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  font-size: 4rem;
  color: whitesmoke;
}

.Data p{
  color: red;
  opacity: 0;
}
#body{
  width: 100vw;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#btnds{
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#destroy{
  width: 50vw;
  height: 5vh;
  background: deepskyblue;
  border-radius: 50px;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#title{
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
#videoplayer{
  width: 100vw;
  height: 35vh;
  display: flex;
  justify-content: center;
}
.if-border{
  width: 95vw;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.if-border iframe{
  width: 90vw;
  height: 25vh;
  text-overflow: hidden;
  overflow: hidden;
  position: relative;
  border-radius: 2px;
}
.if-border span{
  width: 90vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
}
.if-border span a{
  width: 30vw;
  height: 5vh;
  background: #D552FF;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#downloadbuttons{
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#downloadbuttons p{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}
#downloadbt{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#downloadbt a{
  text-decoration: none;
  width: 50vw;
  height: 5vh;
  background: greenyellow;
  color: White;
  border-radius: 50px;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2rem;
}

footer{
  width: 100%;
  height: 7vh;
  left: 0;
  bottom: 0;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  margin-top: 10px;
}
footer p a{
  text-decoration: none;
color: royalblue;
}
